# Assignment 3: Testing and Data Wrangling in Python

## POP77001 Computer Programming for Social Scientists

## Before submission

- Make sure that you can run all cells without errors
- You can do it by clicking `Kernel`, `Restart & Run All` in the menu above
- Make sure that you save the output by pressing Command+S / CTRL+S
- Rename the file from `03_assignment.ipynb` to `03_assignment_studentnumber_firstname_lastname.ipynb`
- Use Firefox browser for submitting your Jupyter notebook on Blackboard

## Exercise 1: Exceptions  (20 points)

Re-write the function below using conditional statements and exceptions to handle situations when user provides an invalid input.

In [ ]:
# Exercise 1:

# See function below, modify as necessary

def get_age():
    """Get user's age
    
    Takes user's year of birth as an input
    Returns age in years as an integer
    """
    yob = input("Please enter your year of birth: ")
    age = 2021 - int(yob)
    return age

## Exercise 2: Testing (20 points)

Consider the function below which finds modal value in a list. Write 2 functions that test its functionality using assertions. Run the functions with different inputs.

In [ ]:
def find_mode(lst):
    """Find modal value in list
    
    Takes a list with arbitrary elements
    Returns an element which appears most often
    """
    mode = max(lst, key = lst.count)
    return mode

In [ ]:
# Exercise 2:

# Your code goes here

## Exercise 3: Data transformation (20 points)

For exercises 3-5 we will be working with the [Titanic](https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv) dataset. It contains the list of passengers on Titanic with their sociodemographic characteristics, names and ticket details. First, create two new columns, called 'Last Name' and 'First Name' containing last name and first name of each passenger. Next, calculate the frequencies of passengers' last names. What were the 3 most common last names of passengers on the ship?

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Exercise 3:

# Your code goes here

## Exercise 4: Binning (20 points)

When analyzing a continuous variable we often want to break it up into discrete categories (bins). For example, age might be considered as a categorical variable with discrete categories of '18-25', '26-35', etc. Implement a function that takes a dataframe, variable name and cutoff points (e.g. 18, 25, 35, etc.) as inputs and returns a dataframe with a single column, which is binned into desired categories. Run this function on the age column of Titanic dataset. What percentage of passengers falls into each of the age bins?

Tip: You can use `pandas.cut()` method internally.

In [ ]:
# Exercise 4:

# Your code goes here

## Exercise 5: Pattern detection (20 points)

Let us consider the column `Survived`, which contains a binary indicator of whether a given passenger survived the sinking of Titanic. What factors might explain the survival of some passengers but not others? How would you investigate these relationships? Describe your hypotheses and descriptive analyses that can help anwesring these questions. Perform the outlined descriptive analyses on the dataset.

In [ ]:
# Exercise 5:

# Your text and code go here