# Week 6 Tutorial: Data Wrangling in Python

## POP77001 Computer Programming for Social Scientists

##### Module website: [bit.ly/POP77001](https://bit.ly/POP77001)

## Loading the dataset

- Replace filepath with the location of the file on your computer
- Alternatively, you can use file's URL on GitHub as its path:

`https://raw.githubusercontent.com/ASDS-TCD/POP77001_Computer_Programming_2021/main/data/kaggle_survey_2020_responses.csv`

In [1]:
import pandas as pd

In [2]:
# This time let's skip the 2nd row, which contains questions
kaggle2020 = pd.read_csv('../data/kaggle_survey_2020_responses.csv', skiprows = [1])
kaggle2020.head(n = 1)

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,1838,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# We will load the questions as a separate dataset
kaggle2020_qs = pd.read_csv('../data/kaggle_survey_2020_responses.csv', nrows = 1)
kaggle2020_qs

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7_Part_1,Q7_Part_2,Q7_Part_3,...,Q35_B_Part_2,Q35_B_Part_3,Q35_B_Part_4,Q35_B_Part_5,Q35_B_Part_6,Q35_B_Part_7,Q35_B_Part_8,Q35_B_Part_9,Q35_B_Part_10,Q35_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."

## Exercise: Summarise categorical variable

- Load the dataset (as local file)
- Consider country of residence reported by respondents (question Q3).
- Make sure you can select the column both using label and index
- Calculate the percentages of top 3 countries of residence in the sample

## Crosstabulation in pandas

In [4]:
# Calculate crosstabulation between 'Age group' (Q1) and 'Gender' (Q2)
pd.crosstab(kaggle2020['Q1'], kaggle2020['Q2'])

Q2      Man  Nonbinary  Prefer not to say  Prefer to self-describe  Woman
Q1
18-21  2611          8                 42                       12    796
22-24  2838         12                 41                        9    886
25-29  3128         13                 42                        9    819
30-34  2246          8                 44                        9    504
35-39  1581          7                 33                        2    368
40-44  1153          2                 15                        5    222
45-49   840          1                 17                        4    126
50-54   605          0                 10                        2     81
55-59   353          0                 13                        0     45
60-69   362          1                  4                        2     29
70+      72          0                  2                        0      2

## Margins in crosstab

In [5]:
# It is often useful to see the proportions/percentages rather than raw counts
pd.crosstab(kaggle2020['Q1'], kaggle2020['Q2'], normalize = 'columns')

Q2,Man,Nonbinary,Prefer not to say,Prefer to self-describe,Woman
Q1,,,,,
18-21,0.165368,0.153846,0.159696,0.222222,0.205260
22-24,0.179745,0.230769,0.155894,0.166667,0.228468
25-29,0.198113,0.250000,0.159696,0.166667,0.211191
30-34,0.142251,0.153846,0.167300,0.166667,0.129964
35-39,0.100133,0.134615,0.125475,0.037037,0.094894
40-44,0.073026,0.038462,0.057034,0.092593,0.057246
45-49,0.053202,0.019231,0.064639,0.074074,0.032491
50-54,0.038318,0.000000,0.038023,0.037037,0.020887
55-59,0.022357,0.000000,0.049430,0.000000,0.011604
60-69,0.022927,0.019231,0.015209,0.037037,0.007478
70+,0.004560,0.000000,0.007605,0.000000,0.000516

## Crosstabulation in pandas with `pivot_table`

In [15]:
# For `values` variable we use `Q3`, but any other would work equally well 
pd.pivot_table(kaggle2020, index = 'Q1', columns = 'Q2', values = 'Q3', aggfunc = 'count', fill_value = 0)

Q2      Man  Nonbinary  Prefer not to say  Prefer to self-describe  Woman
Q1
18-21  2611          8                 42                       12    796
22-24  2838         12                 41                        9    886
25-29  3128         13                 42                        9    819
30-34  2246          8                 44                        9    504
35-39  1581          7                 33                        2    368
40-44  1153          2                 15                        5    222
45-49   840          1                 17                        4    126
50-54   605          0                 10                        2     81
55-59   353          0                 13                        0     45
60-69   362          1                  4                        2     29
70+      72          0                  2                        0      2

## Exercise: Manipulating columns

- Let's take a look at the first column which lists the time it took respondents to complete the survey (in seconds).
- First, change column's long name to `duration_min`
- Now modify the column such that it shows time in minutes
- Filter dataset leaving only respondents who took more than 2 mins to respond.
- How many are dropped?

## Week 6: Assignment 3

- Practice testing and data wrangling in Python
- Due at 11:00 on Wednesday, 27th October